name: Build & deploy on PlayStore

on:
  push:
    branches:
      - master

jobs:
  release:
    runs-on: [ubuntu-latest]
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Checkout secrets
        uses: actions/checkout@v2  
        with:
          repository: timeforcoffee/timeforcofee-android-secrets
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

      - name: install dependencies
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6 # Not needed with a .ruby-version file
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - run: bundle install

      - name: Release
        run: bundle exec fastlane release
